*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.container{
    width: 80%;
    margin: auto;
}

.menu{
    background: lightseagreen;
    margin: 20px;
    border: 2px solid black;
    position: relative;

}

h2{
    outline: 2px solid black;
    display: inline-block;
    width: 120px;
    text-align: center; 
    position: absolute;
    top: 0;
    right: 0;
    font-family: Helvetica, sans-serif;
}

.chicken{
    background: rgb(226, 116, 116);
}

.beef{
    background: rgb(250, 52, 52);
    color: white;
}

.sushi{
    background: springgreen;
}

p{
    padding: 10px;
    margin-top: 30px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* mediaquery tablet */
@media (min-width: 768px) {
    .container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .sushi{
        grid-area: 3/1/2/3;
    }

}

/* mediaquery desktop */

@media (min-width: 991px) {
    .container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: yellow;
    }
}


/* https://github.com/Cbastian-Araque/coursera-actividad_modulo2.git */ repositiorio coursera